[submodule "src"]
	path = src
	url = https://github.com/RafaelMedeirosGomes/typescript-node-studies.git
	branch = src
[submodule "tests"]
	path = tests
	url = https://github.com/RafaelMedeirosGomes/typescript-node-studies.git
	branch = tests
[submodule "testrunner"]
	path = testrunner
	url = https://github.com/RafaelMedeirosGomes/typescript-node-studies.git
	branch = testrunner
[submodule "types"]
	path = types
	url = https://github.com/RafaelMedeirosGomes/typescript-node-studies.git
	branch = types
